body{
  background: url(img/matrix.jpg);
  background-position: top;
  background-size: cover;
  font-family: 'Oxanium'
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item{
  text-align: center;
  background: #000000d9;
  border-radius: 20px;
  padding: 0px 30px;
}

h1{
  color: white;
}

h2{
  color: #98f4a8;
}
